// Var for SFProdisplay font
$mainFont: "SFProDisplay";

// Var for main green colour
$mainGreen: #659D7A;

$iconSize: 10vw;

/* -------------- Add in new color presets --------------------- */
:root {
  --ion-color-themetext: #3cb282;
  --ion-color-themetext-rgb: 60, 178, 130;
  --ion-color-themetext-contrast: #000000;
  --ion-color-themetext-contrast-rgb: 0, 0, 0;
  --ion-color-themetext-shade: #359d72;
  --ion-color-themetext-tint: #50ba8f;
  --ion-background-color: #dbdbdb;

  --ion-color-themewhite: #ffffff;
  --ion-color-themewhite-rgb: 255, 255, 255;
  --ion-color-themewhite-contrast: #000000;
  --ion-color-themewhite-contrast-rgb: 0, 0, 0;
  --ion-color-themewhite-shade: #e0e0e0;
  --ion-color-themewhite-tint: #ffffff;
}

// Main green colour #3CB282
.ion-color-themetext {
  --ion-color-base: var(--ion-color-themetext);
  --ion-color-base-rgb: var(--ion-color-themetext-rgb);
  --ion-color-contrast: var(--ion-color-themetext-contrast);
  --ion-color-contrast-rgb: var(--ion-color-themetext-contrast-rgb);
  --ion-color-shade: var(--ion-color-themetext-shade);
  --ion-color-tint: var(--ion-color-themetext-tint);
}

// White colour #FFFFFF
.ion-color-themewhite {
  --ion-color-base: var(--ion-color-themewhite);
  --ion-color-base-rgb: var(--ion-color-themewhite-rgb);
  --ion-color-contrast: var(--ion-color-themewhite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-themewhite-contrast-rgb);
  --ion-color-shade: var(--ion-color-themewhite-shade);
  --ion-color-tint: var(--ion-color-themewhite-tint);
}

@font-face {
  font-family: SFProDisplay;
  src: url("../fonts/SFProDisplay.ttf");
}

body {
  //Apply SFProdisplay font to body
  font-family: $mainFont;
}

//----------------------Start of start.html-----------------------------

// Container for start.html
.start-container {
  position: relative;
  text-align: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

// Container for contents in start.html
.start-content {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 25%;
  margin-right: -50%;
  transform: translate(-50%);
  width: 75%;
}
// Welcome text inbetween the logo and image on start.html
#welcomeText {
  font-size: 25px;
  color: white;
  margin: 25px 0 10px 0;
}

//Logos and title image on start.html
#startImg {
  width: 50vw;
}

#startLogo {
  width: 20vw;
}

//login and signup button container
.acc-btn {
  margin-top: 15px;
}

#gotoSignup{
    color: white;
    font-size: 20px;
}

.greentext{
    color: $mainGreen;
}

//----------------------End of start.html-----------------------------

//----------------------Start of login.html-----------------------------

// Container for login.html
.login-container {
    position: relative;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.whitetext{
    color: white;
}

.input{
    background: white;
}



//----------------------End of login.html------------------------------

//----------------------Start of signup.html---------------------------

//----------------------End of signup.html-----------------------------

#menuLogo {
  width: 10vw;
  margin-left: 10%;
  padding-bottom: 40%;
}

.userName {
  width: 10vw;
  padding-bottom: 35%;
}

.test{
  --background: blue;
}